<div class="main">
    <div class="card_container">
        <div class="title_page">
            <div class="title-pagess">
                <div class="flexis-content">
                    <div class="gold-left"></div>
                    <h1>
                        <span>Mavjud</span> to'garaklar
                    </h1>
                </div>

                <p>To'garaklar - ko'plab ota-onalar, zamonaviy maktab manfatdor</p>
            </div>
            <div class="cards_container">


                <div class="cards-1 card_page">
                    <div class="cards_images">
                        <img src="/assets/img.jpg" alt="kolej img img">
                    </div>
                    <div class="card_title">
                        <h4>Moliyaviy Savodxonlik</h4>
                    </div>
                    <div class="card_text">
                        <p>Intensiv yondashuv</p>
                    </div>
                    <div class="end_card flex_card-1">
                        <div>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon class="star">star_rate</mat-icon>
                        </div>
                        <div class="free_card">
                            <p>bepul</p>
                        </div>
                    </div>
                </div>
                <div class="cards-1 card_page">
                    <div class="cards_images">
                        <img src="/assets/im4.jpg" alt="kolej img img">
                    </div>
                    <div class="card_title">
                        <h4>Inglis Tili</h4>
                    </div>
                    <div class="card_text">
                        <p>Intensiv yondashuv</p>
                    </div>
                    <div class="end_card flex_card-2">
                        <div>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon class="star">star_rate</mat-icon>
                        </div>
                        <div class="free_card">
                            <p>bepul</p>
                        </div>
                    </div>
                </div>
                <div class="cards-1 card_page">
                    <div class="cards_images">
                        <img src="/assets/imagess.jpg" alt="kolej img img">
                    </div>

                    <div class="card_title">
                        <h4>Jismoniy Tarbiya</h4>
                    </div>
                    <div class="card_text">
                        <p>Intensiv yondashuv</p>
                    </div>
                    <div class="end_card flex_card-3">
                        <div>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon class="star">star_rate</mat-icon>
                        </div>
                        <div class="free_card">
                            <p>bepul</p>
                        </div>
                    </div>
                </div>
                <div class="cards-1 card_page">
                    <div class="cards_images">
                        <img src="/assets/img.jpg" alt="kolej img img">
                    </div>
                    <div class="card_title">
                        <h4>Rus Tili</h4>
                    </div>
                    <div class="card_text">
                        <p>Intensiv yondashuv</p>
                    </div>
                    <div class="end_card flex_card-4">
                        <div>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon>star_rate</mat-icon>
                            <mat-icon class="star">star_rate</mat-icon>
                        </div>
                        <div class="free_card">
                            <p>bepul</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Section 1 start -->
    <section class="page_section">
        <div class="page_backround-section">
            <div class="page-section-container">
                <div class="page_section-card">
                    <div class="page_section-cards">
                        <div class="cards-1 pages_cards">
                            <div class="cards-info">
                                <div class="cards-info-content">
                                    <img src="/assets/person.svg" alt="person img">
                                    <h3>0</h3>
                                </div>
                                <div class="students-card">
                                    <h4>o'quvchilar soni</h4>
                                </div>
                            </div>

                        </div>
                        <div class="cards-1 pages_cards">
                            <div class="cards-info">
                                <div class="cards-info-content">
                                    <img src="/assets/person.svg" alt="person img">
                                    <h3>0</h3>
                                </div>
                                <div class="students-card">
                                    <h4>o'qituvchilar soni</h4>
                                </div>
                            </div>

                        </div>
                        <div class="cards-1 pages_cards">
                            <div class="cards-info">
                                <div class="cards-info-content">
                                    <img src="/assets/person.svg" alt="person img">
                                    <h3>3</h3>
                                </div>
                                <div class="students-card">
                                    <h4>Yo'nalish soni</h4>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Carusel start -->
                    <div class="hr_contentt"></div>
                    <div class="pages_carusel">
                        <div class="flex_left">
                            <div class="gold-left"></div>
                            <h3>Pedagog <span>Mutahasislarimiz</span> </h3>
                        </div>
                        <div class="flex-right">
                            <button (click)="handleClick()">
                                <mat-icon>
                                    chevron_left
                                </mat-icon>
                            </button>
                            <button (click)="handleClicks()">
                                <mat-icon>chevron_right</mat-icon>
                            </button>
                        </div>
                    </div>


                    <div class="carousel-container">

                        <div class="carousel">
                            <div class="carousel-inner" [style.transform]="getCarouselTransform()">
                                <div class="carousel-item" *ngFor="let card of cards">
                                    <div class="card">
                                        <div class="card_images">
                                            <img [src]="card.img" alt="">
                                        </div>
                                        <div class="card_information">
                                            <h2>{{card.title}}</h2>
                                            <h3>{{card.position}}</h3>
                                            <div>
                                                <p>{{card.text}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Carusel end -->
                    <!-- Responsive Carusel Start -->
                    <div class="pagess_cards">
                        <div class="flexs-box">
                            <div class="cards-pages" *ngFor="let card of visibleCards">
                                <div class="images_cart">
                                    <img [src]="card.img" alt="photo direktor">
                                </div>
                                <div class="title_cart">
                                    <h2>{{card.title}}</h2>
                                    <p><span>{{card.position}}</span> <br>
                                        {{card.text}}</p>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Responsive Carusel end -->
                </div>
            </div>

        </div>
    </section>
    <!-- Section 1 end -->
    <!-- Section 2 start -->

    <section class="page_section-2">
        <div>
            <div class="page_backround-section-2">
                <div class="page_section-card-2">
                    <div class="pages_section-title">
                        <div class="gold_left"></div>
                        <h2> <span>Muhim</span> Yangiliklar</h2>
                        <p>Dolzarb va muhim yangiliklarni
                            biz bilan kuzatib boring</p>
                    </div>
                </div>

            </div>
            <div class="section_cards-2">
                <!-- Card 1 start -->
                <mat-card class="example-card">

                    <img mat-card-image src="./assets/Screenshot_1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content class="mat-cards">
                       
                        <mat-icon class="mat-icons">calendar_month</mat-icon> <p>24/02/2024</p><mat-icon class="mat-icons">person</mat-icon>
                       
                    </mat-card-content>
                    <mat-card-content class="card_content">
                        <h2>O'zbekiston-Fransiya: ta'lim yo'nalishida bitim imzoladi</h2>
                        <p>Tanlov Buxoro turizm va madaniy meros texnikumi va Normandiya Ruan universiteti o'rtasida hamkorlikda imzolandi.</p>
                    </mat-card-content>
                    <mat-card-content>
                        <button mat-raised-button color="warn">Ko'proq o'qish</button>
                    </mat-card-content>

                </mat-card><mat-card class="example-card">

                    <img mat-card-image src="./assets/Screenshot_1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content class="mat-cards">
                      
                        <mat-icon class="mat-icons">calendar_month</mat-icon> <p>24/02/2024</p><mat-icon class="mat-icons">person</mat-icon>
                        
                    </mat-card-content>
                    <mat-card-content class="card_content">
                        <h2>O'zbekiston-Fransiya: ta'lim yo'nalishida bitim imzoladi</h2>
                        <p>Tanlov Buxoro turizm va madaniy meros texnikumi va Normandiya Ruan universiteti o'rtasida hamkorlikda imzolandi.</p>
                    </mat-card-content>
                    <mat-card-content>
                        <button mat-raised-button color="warn">Ko'proq o'qish</button>
                    </mat-card-content>

                </mat-card><mat-card class="example-card">

                    <img mat-card-image src="./assets/Screenshot_1.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content class="mat-cards">
                      
                           <mat-icon class="mat-icons">calendar_month</mat-icon> <p>24/02/2024</p><mat-icon class="mat-icons">person</mat-icon>
                        
                    </mat-card-content>
                    <mat-card-content class="card_content">
                        <h2>O'zbekiston-Fransiya: ta'lim yo'nalishida bitim imzoladi</h2>
                        <p>Tanlov Buxoro turizm va madaniy meros texnikumi va Normandiya Ruan universiteti o'rtasida hamkorlikda imzolandi.</p>
                    </mat-card-content>
                     <mat-card-content>
                        <button mat-raised-button color="warn">Ko'proq o'qish</button>
                    </mat-card-content>

                </mat-card>
            </div>
        </div>
    </section>
    <div class="mains">
        <footer>
           <div class="footer_card cardss-1">
            <h2>Texnikum</h2>
            <ul>
                <li>Bosh sahifa</li>
                <li>Biz haqimizda</li>
                <li>Ko'p beriladigan savollar</li>
                <li>Bog'lanish</li>
            </ul>
           </div>
           <div class="footer_card cardss-1">
            <h2>Bizni Kuzatib Boring</h2>
            <ul>
                <li><mat-icon>telegram</mat-icon><span>-Telegram</span></li>
                <li><mat-icon>photo_camera</mat-icon><span>-Instagram</span></li>
                <li><mat-icon>attach_file</mat-icon>-<span>LinkedIn</span></li>
                <li></li>
            </ul>
           </div>
           <div class="footer_card cardss-1">
            <h2>Yo'nalishlar</h2>
            <ul>
                <li>Moliyaviy Savodxonlik</li>
                <li>Bank sxemasi</li>
                <li>Biznes rivojlantirish</li>
                <li>Sarmoyadorlik</li>
            </ul>
           </div>
           <div class="footer_card cardss-1 cadrs-end">
            <h2>Bizning Rasmlar</h2>
            <div class="footer_card-flexs" (click)="OpenModal()">
                <img src="./assets/imagess.jpg" alt="photo error !">
                <img src="./assets/img.jpg" alt="photo error !">
                <img src="./assets/img2.jpg" alt="photo error !">
                <img src="./assets/img2.jpg" alt="photo error !">
            </div>
            <div class="footer_card-flexs" (click)="OpenModal()">
                <img src="./assets/imagess.jpg" alt="photo error !">
                <img src="./assets/img.jpg" alt="photo error !">
                <img src="./assets/img2.jpg" alt="photo error !">
                <img src="./assets/img2.jpg" alt="photo error !">
            </div>
            <div class="logo_svg-content">
                <div class="instagram_svg"></div>
                <div class="linkedin_svg"></div>
                <div class="telegram_svg"></div>
            </div>
           </div>
        </footer>
    </div>
    
    <!-- Section 2 end -->
</div>